/* =====================================================================
 *   "Orange" Skin
 * =================================================================== */



/* Links Colors */
a { color: #f58b3c; }
a:focus { color: #f58b3c; }
p a:hover { border-color: #f58b3c; }

/* Headings */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { color: #f58b3c; }

/* Text Colored */
.colored { color: #f58b3c; }

/* Scroll Top */
.scroll-top,
.scroll-top:focus { background: #f58b3c; }

/* Buttons */
.btn.colorful {
	background: #f58b3c;
	border-color: #f58b3c;
}

.btn.transparent-colorful {
	color: #f58b3c;
	border-color: #f58b3c;
}

.btn.hover-colorful:hover {
	background: #f58b3c;
	border-color: #f58b3c;
}
.btn.hover-transparent-colorful:hover {
	color: #f58b3c;
	border-color: #f58b3c;
}

/* Scroll Progress */
#scroll-progress { background: #f58b3c; }

/* Forms */
input[type="submit"],
input[type="submit"].form-control,
input[type="submit"],
input[type="submit"].form-control {
	background: #f58b3c;
}

/* Main Menu */
.main-menu > li > a.current, .main-menu > li:hover > a,
.main-menu > li > a:hover {
	color: #f58b3c;
}

.main-menu ul.sub-menu li a:hover, .main-menu ul.sub-menu li:hover > a { color: #f58b3c; }

.main-menu.sf-arrows li > a.sf-with-ul:focus:after,
.main-menu.sf-arrows li:hover > a.sf-with-ul:after,
.main-menu.sf-arrows .sfHover > a.sf-with-ul:after {
	color: #f58b3c;
}

/* Mobile Menu */
.mobile-menu li:hover > a { color: #f58b3c; }

.mobile-menu > li > a:hover, .mobile-menu > li > a.current { color: #f58b3c; }

.mobile-menu.sf-arrows > li > a.sf-with-ul:focus:after,
.mobile-menu.sf-arrows > li:hover > a.sf-with-ul:after,
.mobile-menu.sf-arrows > .sfHover > a.sf-with-ul:after {
	color: #f58b3c;
}

.mobile-menu.sf-arrows li > a.sf-with-ul:focus:after,
.mobile-menu.sf-arrows li:hover > a.sf-with-ul:after,
.mobile-menu.sf-arrows .sfHover > a.sf-with-ul:after {
	color: #f58b3c;
}

/* Banner Slider */
.banner-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.slide-content h1::after { background: #f58b3c; }
.section-title h6 { color: #f58b3c; }
.section-title h2::after { background: #f58b3c; }

/* Our Services Tabs */
.os-tabs > li.active { color: #f58b3c; }
.os-tabs > li.active::before, .os-tabs > li.active:hover::before {
	background-color: #f58b3c;
}

.os-tabs > li.active::after, .os-tabs > li.active:hover::after { border-bottom-color: #f58b3c; }

.os-tabs > li.active i {
	color: #f58b3c;
	border-color: #f58b3c;
}

/* Lists */
.list li::before { color: #f58b3c; }

/* Box Preview */
.box-preview .box-content .meta li i { color: #f58b3c; }

/* Rating */
.rating i { color: #f58b3c; }

/* Popular Packages */
.popular-packages-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #f58b3c; }
.popular-packages-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.popular-packages-slider .owl-dots .owl-dot.active span, 
.popular-packages-slider .owl-dots .owl-dot.active:hover span {
	background: #f58b3c;
}

/* CTA Title 1 */
.cta-title .colored { color: #f58b3c !important; }
.cta-title h1::after { background: #f58b3c; }

/* Popular Categories */
.portfolio-categories li a:hover { color: #f58b3c; }
.portfolio-categories li a::before { background: #f58b3c; }
.portfolio-items-wrap .portfolio-item .overlay > i { background: #f58b3c; }
.portfolio-items-wrap .portfolio-item .overlay .overlay-inner::before { background: #f58b3c; }
.portfolio-items-wrap .portfolio-item .overlay .sub-title { color: #f58b3c; }
.portfolio-single-preview > .project-close:hover { color: #f58b3c; }
.portfolio-single-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.portfolio-single-slider .controls span { color: #f58b3c; }
.ps-fixedwidth-intro .description .project-close:hover { color: #f58b3c; }
.box-info .box-content h5 .numb-count { color: #f58b3c; }
.box-info .box-content .meta a:hover { color: #f58b3c; }

/* Best Events */
.event-box .content i { color: #f58b3c; }
.event-box .content h4 { color: #f58b3c; }
.event-box .content-overlay h5 { color: #f58b3c; }
.event-box .content-overlay i { color: #f58b3c; }

/* CTA Title 2 */
.video-btn i,
.video-btn i::after { color: #f58b3c; }

/* Tour Guides */
.tour-guide-slider .owl-carousel .box-preview .box-content h5 .sub-title { color: #f58b3c; }
.tour-guide-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #f58b3c; }
.tour-guide-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.tour-guide-slider .owl-dots .owl-dot.active span,
.tour-guide-slider .owl-dots .owl-dot.active:hover span { background: #f58b3c; }

/* Happy Clients */
.testmonial-single .ts-img i { background: #f58b3c; }
.testmonial-single .ts-person a:hover { color: #f58b3c; }
.testmonials-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.testmonials-slider .owl-dots .owl-dot.active span,
.testmonials-slider .owl-dots .owl-dot.active:hover span { background: #f58b3c; }

/* Clients */
.clients-slider .owl-nav [class*="owl-"] { background: #f58b3c; }
.clients-slider .owl-dots .owl-dot.active span,
.clients-slider .owl-dots .owl-dot.active:hover span { background: #f58b3c; }

/* Get Connected */
.contact-info li i { color: #f58b3c; }

/* Footer */
.copyrights-message span { color: #f58b3c; }
.scroll-top-btn { color: #f58b3c; }

.scroll-top-btn:hover { background: #f58b3c; }








